/SystemAPKs/JellyBean_partitions

.gradle

# Eclipse
.classpath 
.project 
.settings

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

cam2/gen/
cam2/out/
cam2/build/

# Maven
target/

# Android Studio
local.properties

# Mac
.DS_Store

# Private key credentials
keys/
keystore.properties

# App db
director.db

spoon-output
