/SystemAPKs/JellyBean_partitions

.gradle

# Eclipse
.classpath 
.project 
.settings

# IntelliJ
cam2/.idea/
cam2/*.imls
cam2/*.iws
cam2/*.ipr

cam2/gen/
cam2/out/
cam2/build/

# Maven
target/

# Android Studio
local.properties

# Mac
.DS_Store
